{% extends 'he/base.html' %}

{% block content %}


<div dir="rtl"  class="content-wrapper">
    <div dir="rtl"  class="two-column-wrapper">
      <div dir="rtl"  class="profile-image-wrapper">
        {% load static %}
        <img src="{% static 'mysite/images/logos/TAU-logo.jpg' %}">
        <img src="{% static 'mysite/images/logos/TAUAcademic.jpg' %}">
      </div>

      <div dir="rtl"  class="profile-content-wrapper">
        <h1>היי, תודה שבחרתם לבקר באתר!</h1>
        <p dir="rtl" >המטרה העיקרית האתר היא לספק לציבור שירות ידידותי למשתמש בקוד פתוח המאפשר למגוון רחב של משתמשים לגשת לנתוני התחבורה הציבורית הישראלית המנותחים בכל עת, עם אפשרות לבחון את הנתונים שנצברו באופן אובייקטיבי, על בסיס מדדים אמינים וידועים.
        </p>

        <p dir="rtl" >פרויקט זה בוצע בעבודה מקבילה של שני צוותים עיקריים, צוות הביג דאטה וצוות הBI.</p>
        <p dir="rtl" > צוות הביג דאטה אחראי על זרימת המידע בזמן אמת מממשק SIRI-SM של משרד התחבורה אל בסיס הנתונים.</p>
        <p dir="rtl" >צוות הBI  להפקת מידע סטטי בפורמט GTFS ממשרד התחבורה ולביצוע עיבוד ראשוני על הנתונים. בסיס נתונים ייעודי מוגדר היטב במסגרתו הנתונים ייאספו. הגדרת מדדים תקפים על פיהם ינותחו הנתונים וכן הקמה, תכנון והזנת הנתונים והמדדים המתקבלים בחלקים שונים בהתאם לרצון המשתמש.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

