{% extends 'he/base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#change_date").on("submit", function(){
        $("#pageloader").fadeIn();
      });//submit
    });//document ready
  </script> 

        <div dir="rtl" class="site-header">
            <h1>ניתוח המפעיל {{agency_name}}</h1><br>
            <h3>נכון לתאריך:
                <form action="../agency_report/" method="GET" name="change_date" id="change_date">
                    <input type="hidden" name="lang" value="he">
                    <input type=hidden name="agency" value={{agency_id}}>
                    <input type=date name="report_date" value={{report_date}} min={{min_date}} max={{max_date}}><br>
                    
                    <div dir="rtl" class="line_form__item">
                        <button type="submit" id="btnFetch" class="line_form__btn btn btn-primary mb-2" style='width: 135px;'>שינוי</button>
                      </div>
                </form>
            </h3>
        </div>
        

       <div dir="rtl" class="content-wrapper">
            <div dir="rtl" class="first-section-content-wrapper">
                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו עם מספר התחנות הקטן ביותר:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{lowest_name_route_by_station.0}}<br>⇆<br>{{lowest_name_route_by_station.1}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{lowest_line_number_by_station}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                         {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר תחנות</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{lowest_number_station}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                




               
                
                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו עם מספר התחנות הרב ביותר:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{highest_name_route_by_station.0}}<br>⇆<br>{{highest_name_route_by_station.1}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{highest_line_number_by_station}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר תחנות</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{highest_number_station}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
             




                                
                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו הקצר ביותר:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{fastest_route_name_time.0}}<br>⇆<br>{{fastest_route_name_time.1}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{fastest_line_number_time}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">זמן נסיעה כולל [בדקות]</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{fastest_route_time}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
               




                                
                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו הארוך ביותר:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{slowest_route_name_time.0}}<br>⇆<br>{{slowest_route_name_time.1}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{slowest_line_number_time}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">זמן נסיעה כולל [בדקות]</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{slowest_route_time}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
       




                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו הפופולרי ביותר במונחי מספר נסיעות:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{popular_route_name.0}}<br>⇆<br>{{popular_route_name.1}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{popular_route_number}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הנסיעות הכולל</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{popular_number_of_trips}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                                                



                                                
                <div dir="rtl" class="protfolio-items-wrapper-bus-line">

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">הקו הכי פחות פופולרי במונחי מספר נסיעות:</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label></label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מסלול הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{unpopular_route_name.0}}<br>⇆<br>{{unpopular_route_name.1}}</label>
                            </div>
                        </div>
                    </div>
                    
                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הקו</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{unpopular_route_number}}</label>
                            </div>
                        </div>
                    </div>

                    <div dir="rtl" class="protfolio-item-wrapper">
                        {% load static %}
                        <div dir="rtl" class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div dir="rtl" class="dash-text-wrapper">
                            <div dir="rtl" class="haeder-wrapper">
                                <span dir="rtl"  class="labelmain">מספר הנסיעות הכולל</span>
                            </div><br><br>

                            <div dir="rtl" class="measure-wrapper">
                                <label>{{unpopular_number_of_trips}}</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            <hr>
            <span dir="rtl"  class="labelmain"><center>נסיעות המפעיל להיום</center>
            <hr></span>
                        <div dir="rtl" class="second-section-content-wrapper">
                <div dir="rtl" class="protfolio-items-wrapper-hist">
                    <div dir="rtl" class="protfolio-item-wrapper-hist">
                        <div dir="rtl" class="protfolio-img-background"></div>

                        <div dir="rtl" class="img-text-wrapper-hist">

                            <div dir="rtl" class="logo-wrapper">
                                <img src="data:image/png;base64,{{hours_histogram_picture}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            <span dir="rtl"  class="labelmain"><center>נסיעות מתועדות</center>
            <hr></span> 
            <h3><center>נסיעות שתועדו:<br>{{number_of_actual_trips}}</center></h3></td>
              <h3><center>נסיעות שלא תועדו:<br>{{number_of_missed_trips}}</center></h3></br></td>
            <div class="second-section-content-wrapper">
                  <div class="protfolio-items-wrapper-hist">
                      <div class="protfolio-item-wrapper-hist">
                          <div class="protfolio-img-background"></div>
  
                          <div class="img-text-wrapper-hist">
  
                              <div class="logo-wrapper">
                                  <img src="data:image/png;base64,{{actual_and_missed_trips_picture}}">
                              </div>
  
                              <!-- <div class="subtitle">
                                  Here sould be the histogram
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
               
        </div>
    </div>
{% endblock %}
            

