{% extends 'base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#agency_form").on("submit", function(){
      $("#pageloader").fadeIn();
    });//submit
  });//document ready
</script>  

<div class="form-content-wrapper">
  <div class="line_form__title">Agency Drilldown Search Form</div>
          
  <p class="line_form__desc">
    In order to continue, please select the desired agency.
  </p>

</div> 
    <form class="line_form" action="../agency_report/" method="GET" id="agency_form" name="agency_form">
        {%csrf_token %}

        
        <div class="line_form__item">
          <label for="agency" class="line_form__label">Agencies:</label>
          <select name="agency" label="Agencies" required>
          {% for agency in agencies %}
            <option value="{{agency.0}}">{{agency.1}}</option>
          {% endfor %}
          </select>                
        </div>
        <div class="line_form__item">
          <label for="start">Date:</label>
          <input type="date" id="start" class="date" name="report_date" value={{current_date}} min={{min_date}} max={{current_date}} required>
          <span style='color: red;'>{{error}}</span>
        </div>
        
        <div class="line_form__item">
          <button type="submit" id="btnFetch" class="line_form__btn btn btn-primary mb-2">Submit</button>
        </div>

        </div>
      </form>
</div>

{% endblock %}
