{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>About</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'mysite/styles.css' %}"/>

</head>
<body>
    <div class="container">

        <div class="nav-wrapper">

            <div class="left-side">
                <div class="nav-link-wrapper ">
                    <a href="/">Home</a>
                </div>

                <div class="nav-link-wrapper active-nav-link">
                    <a href="/about/">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/create/?report=1">Bus Lines</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/create/?report=3">Bus Stations</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>BusTAU</div>
                </div>
            </div>
        </div>

        <div class="site-header">
            <h1>BusTAU</h1>
            <h2>Analyze Your Bus Trips!</h2>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
              <div class="profile-image-wrapper">
                <img src="{% static 'mysite/images/logos/TAU-logo.jpg' %}">
                <img src="{% static 'mysite/images/logos/TAUAcademic.jpg' %}">
              </div>
      
              <div class="profile-content-wrapper">
                <h1>Hi, thanks for visiting ours site.</h1>
                <p>This site main goal is to provide the public an open-source user-friendly service that allows a wide range of users to access historical analyzed Israeli public transport data at any time, with the option to examine the accumulated data objectively, based on reliable, consistent, and publicly well-known, recognized measurements.
                </p>
      
                <p>This project was carried out in parallel work of two main teams, the Big Data team and the Business Intelligence team.</p>
                <p> The Big Data team is responsible for the real-time flow of information from the Ministry of Transport's SIRI-SM interface to the project database.</p>
                <p>The Business Intelligence team is responsible for the extraction of static information in GTFS format from the Ministry of Transport and performing preliminary processing on the data. Defines a well-defined dedicated relational database within which the data will be collected. Define valid metrics based on which the data will be analyzed, as well as the establishment, design and entering of the data and metrics received in different sections according to the user's wishes.</p>
              </div>
            </div>
          </div>

    </div>
</body>
</html>