{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Station {{stop_code}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'mysite/styles.css' %}"/>

</head>
<body>
    <div class="container">

        <div class="nav-wrapper">

            <div class="left-side">
                <div class="nav-link-wrapper">
                    <a href="/">Home</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/about/">About</a>
                </div>

                <div class="nav-link-wrapper">
                    <a href="/create/?report=1">Bus Lines</a>
                </div>

                <div class="nav-link-wrapper active-nav-link">
                    <a href="/create/?report=3">Bus Stations</a>
                </div>
            </div>

            <div class="right-side">
                <div class="brand">
                    <div>BusTAU</div>
                </div>
            </div>
        </div>

        <div class="site-header">
            <h1>Station No. {{stop_code}} Drilldown</h1>
        </div>

       <div class="content-wrapper">
            <div class="first-section-content-wrapper">
                <div class="protfolio-items-wrapper-bus-line">



                    <div class="protfolio-item-wrapper">
                        <div class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div class="dash-text-wrapper">
                            <div class="haeder-wrapper">
                                <h2>Station Name</h2>
                            </div>

                            <div class="measure-wrapper">
                                <label>{{stop_name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="protfolio-item-wrapper">
                        <div class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div class="dash-text-wrapper">
                            <div class="haeder-wrapper">
                                <h2>Station Address</h2>
                            </div>

                            <div class="measure-wrapper">
                                <label>{{stop_adress}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="protfolio-item-wrapper">
                        <div class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div class="dash-text-wrapper">
                            <div class="haeder-wrapper">
                                <h2>First Bus Estimated Departure</h2>
                            </div>

                            <div class="measure-wrapper">
                                <label>{{first_arrival}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="protfolio-item-wrapper">
                        <div class="protfolio-img-background-mesurment" style="background-image: url({% static 'mysite/images/gray-background.jpg' %});"></div>

                        <div class="dash-text-wrapper">
                            <div class="haeder-wrapper">
                                <h2>Last Bus Estimated Departure</h2>
                            </div>

                            <div class="measure-wrapper">
                                <label>{{last_arrival}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            
            
            <div class="second-section-content-wrapper">
                <div class="protfolio-items-wrapper-hist">
                    <div class="protfolio-item-wrapper-hist">
                        <div class="protfolio-img-background"></div>

                        <div class="img-text-wrapper-hist">
                            <div class="logo-wrapper-hist">
                                <img src="data:image/png;base64,{{histogram_hours}}"> 
                            </div>
                        </div>
                    </div>

            
                    <div class="protfolio-item-wrapper-hist">
                        <div class="protfolio-img-background" ></div>

                        <div class="img-text-wrapper-hist">
                            <div class="logo-wrapper-hist">
                                <img src="data:image/png;base64,{{histogram_agencies}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
             
            <hr>

            <h2><center>Lines in Station</center><hr></h2><br>

            <div class="third-section-content-wrapper">
                <div class="protfolio-items-wrapper">
                    <table class="styled-table">
                        <thead>
                            <tr>
                            <th>Line Number</th>
                            <th>Agency Name</th>
                            <th>Number of trips Today</th>
                            <th>Trip Headsign</th>
                            <th>Route</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in routes_table%}
                        <tr class="active-row">
                            <td><a href="/create/lines_report/?line_number={{ line.0 }}&city={{ line.5 }}&direction=1">{{ line.0 }}</a></td>
                            <td>{{ line.1 }}</td>
                            <td>{{ line.2 }}</td>
                            <td>{{ line.3 }}</td>
                            <td>{{ line.4 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>